<h1>Hallo <%= @user.email %>,</h1>
<p>vielen dank, dass sie ein neues Angebot auf unserer Webseite erstellt haben</p>
<p> <%= link_to 'Hier', offer_url(@offer) %> können sie sich Ihr Angebot noch einmal anschauen, bearbeiten oder löschen</p>
<h2>Mit freundlich Grüßen </h2>
<h2>Wusterhausen</h2>
