
<div class="container d-flex justify-content-center">
  <div class="topics-index-container d-flex flex-row col-12">
    <% @topics.each do |topic| %>
      <%= link_to topic.title, topic_path(topic), class: "shiny" %>
    <% end %>
  </div>
</div>
