<div class="entdecken-header">
  <h3 class="sprechblase_unten">
    Was wäre eine Unterteilung ohne weitere Unterteilungen??<br>
    Hier alle Richtungen zum Thema <%= @topic.title %>.
  </h3>
</div>

<div class="category-cards-container" id="category-cards-container">
  <div class="topic-card-container">
    <% @categories.each do |category| %>
      <div class="topic-card topic-school-card" id="category-card">
          <div class="topic-card-box">
            <div class="topic-card-box-content">
              <%# <h2>1</h2> %>
              <h3><%= category.title %></h3>
              <p>Stress in der Schule? Oder nicht genug Stress? Hier findest du alles rund um's Thema lernen!</p>
              <%= link_to "Weiter", topic_category_path(category) %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


<div class="d-flex justify-content-center">
  <%= button_to 'Back', 'javascript:history.back()', class: "shiny_black", id: "back-button" %>
</div>
<div class="puffer"></div>
