<div class="card-topics-container d-flex justify-content-center">
  <%= link_to topics_path do %>
      <div class="card-topics">
        <div class="card-topics-image">
          <h5>THEMEN</h5>
        </div>
      </div>
  <% end %>
</div>
