<div class="container" style="margin-top: 100px;">
  <h1>Über uns</h1>
  <p>
    Die JugendApp Wusterhausen sammelt Infos, Aktivitäten und Angebote für junge
    Menschen in der Region Wusterhausen. Hier findest du Kurse, Freizeitaktivitäten,
    alles rund ums Thema Schule und Ausbildung, Möglichkeiten zu politischen
    Engagement und Beteiligung sowie Unterstützungsangebote. Als Verein, Institution
    oder als Projekt können Sie ihr Angebot bei uns einstellen. Kurz anmelden und über
    den Login Bereich die Adresse, Details und Infos eingeben. Nach einem kurzen
    Check geht das Angebot online.
  </p>
  <p>
    Diese Plattform ist ein Projekt des Jugendbüros der Gemeinde Wusterhausen/Dosse.
    Wir koordinieren Aktivitäten und beteiligen Kinder und Jugendliche an
    Entscheidungenprozessen.
  </p>
  <p>
    <h5>
      Kontakt:
    </h5>
    Jugendbüro Wusterhausen
    <br>
    Am Markt 23
    <br>
    16868 Wusterhausen/Dosse
    <br>
    <br>
    Anna Behrend
    <br>
    Tel.:033979 – 877 13
    <br>
    behrend@wusterhausen.de
    <br>
  </p>
</div>
