
<div class="page-info d-flex align-items-center justify-content-center">
  <div class="home-info-text">
    <%# <h1>HEADING</h1> %>
    <div class="about-link d-flex flex-direction: column align-items-center ">
      <a href="/about" class="shiny_white">Über uns</a>
    </div>
  </div>
</div>
<%# <div class="container"> %>
<%# render "pages/topic_card" %>

  <%# <div class="img-container">
    <img src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    <img src="https://images.unsplash.com/photo-1582842195329-6a0baffd2a39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    <img src="https://images.unsplash.com/photo-1600722230999-22c256d38cb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div> %>
<%# <h1>Hier ein paar Vorschläge</h1>
  <div class="l-container">
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_1.jpg);"></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_2.jpg);"></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_3.jpg);"></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_4.jpg);"></div>
    </div>
  </div>
</div> %>
