
  <div class="page-info d-flex align-items-center align-items-center justify-content-center">
    <div class="home-info-text">
      <h1>Willkommen auf der JugendApp – Wusterhausen.de</h1>
      <p>
        Du bist jung, wohnst in Wusterhausen und willst runter vom Sofa...? <br>
        Dann bist du hier richtig! Du findest hier Angebote und Aktivitäten in deiner Region. <br>
        Viel Spaß beim Stöbern!</p>
      <div class="about-link">
        <a href="/about" class="shiny_home">Über uns</a>
      </div>
    </div>
  </div>
  <div id=swiper>
    <%= render "swiper" %>
  </div>
