
  <div class="page-info d-flex align-items-center align-items-center justify-content-center">
    <div class="home-info-text">
      <h1>Willkommen auf wusterhausen-prototyp.de</h1>
      <p>Hier finden Sie Angebote in der Region lorem ipsum alea acta est.</p>
      <div class="about-link">
        <a href="/about" class="shiny_home">Über uns</a>
      </div>
    </div>
  </div>
  <%= render "swiper2" %>
