
  <div class="page-info d-flex align-items-center align-items-center justify-content-center">
    <div class="home-info-text">
      <h1>Willkommen auf der JugendApp – Wusterhausen.de</h1>
      <p class="mb-0">Du bist jung, wohnst in Wusterhausen und willst runter vom Sofa...?</p>
<p>Dann bist du hier richtig! Du findest hier Angebote und Aktivitäten in deiner Region.
Viel Spaß beim Stöbern!</p>
      <div class="about-link">
        <a href="/about" class="shiny_home">Über uns</a>
      </div>
    </div>
  </div>
  <div class="container text-center mt-5 mb-5">
    <h1 id="swiper-header">Hier einige unserer Angebote...</h3>
  </div>
  <%= render "swiper2" %>
