<div class="page-info d-flex align-items-center justify-content-center">
  <div class="home-info-text">
    <%# <h1>HEADING</h1> %>
    <div class="about-link d-flex flex-direction: column align-items-center ">
      <a href="/about" class="shiny_white">Über uns</a>
    </div>
  </div>
</div>
