<h1>Willkommen auf der JugendApp – Wusterhausen.de</h1>

<p>
  Hallo <%= @user.name%>,
  <br>
  hier sind deine Zugangsdaten:
  <br>
  Email: <%= @user.email %>
  <br>
  Passwort: <%= @user.password %>
  <br>

</p>
