<h1>Offers#show</h1>
<p>Find me in app/views/offers/show.html.erb</p>
<%= @offer.title %>
<% if @offer.photo.attached? %>
    <%= cl_image_tag @offer.photo.key, width: 400, height: 300, crop: :fill %>
 <% end %>

<%= link_to "Destroy", offer_path(@offer), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<%= link_to "Edit", edit_offer_path(@offer), data: {
                    turbo_method: :edit
                  } %>
