
<%= turbo_frame_tag "admin" do %>
  <div class="nav_admin">
    <%= link_to "Angebote", offer_board_path, class:"button_admin"%>
    <%= link_to "News", blog_board_path, class:"button_admin" %>
    <%= link_to "User", user_board_path, class:"button_admin" %>
  </div>
<%end%>
