
<%= turbo_frame_tag "admin" do %>
  <div class="button">
    <%= link_to "Angebote", offer_board_path, class:"shiny shiny_orangy disabled"%>
    <%= link_to "Blog", blog_board_path, class:"shiny shiny_pinky" %>
    <%= link_to "User", user_board_path, class:"shiny shiny_turquoisy" %>
  </div>
  <h1>hi</h1>
<%end%>
