<div class="admin">
  <% if current_user.role == "admin" %>
    <%= render "activeOffers" %>
    <%= render "inactiveOffers" %>
  <% else %>
    <h1 style="text-align: center; margin-top: 50px;">This area is not for you...</h1>
  <% end %>
</div>
