
<%= turbo_frame_tag "admin" do %>
  <div class="chil_nav">
    <%= link_to "Angebote", offer_board_path, class:"shiny shiny_orangy buttony"%>
    <%= link_to "Blog", blog_board_path, class:"shiny shiny_pinky buttony" %>
    <%= link_to "User", user_board_path, class:"shiny shiny_turquoisy buttony" %>
  </div>
  <h1>hi</h1>
<%end%>
