<% if current_user.role == "institution" || current_user.role == "admin" %>
  <%= link_to "CREATE A NEW OFFER", choose_topic_path %>
  <div class="admin">
    <%= render "activeOffers" %>
    <%= render "inactiveOffers" %>
  </div>
  <div class="puffer"></div>
<% else %>
  <h1 style="text-align: center; margin-top: 50px;">This area is not for you...</h1>
<% end %>
