@import "colors";
.admin-container{
  max-width: 100%;
  margin: 0 auto;
}
.chil_nav {
  background-color: $secondary_color_light;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin: 10 auto;

}
.buttony {
  margin: 5px;
}
.adminOffer {
  margin-top: 20px;
  h1 {
    color: $headings_color;
    text-shadow: 2px 2px 3px black;
  }
}

.admin-search-bar {
  display: flex;
  position: relative;
  form {
    position: absolute;
    right: 15px;
    top: 0px;
  }
}

.cardList {
  border: 2px;
  border-color: rgb(7, 10, 14);
  border-style: solid;
  border-radius: 5px;
  overflow: scroll;
  max-height: 250px;
  height:100% ;
  h4 {
    color: $text_color;
    text-shadow: 1px 1px 2px $headings_color;
    padding: 10px;
  }
}
.cardOffer {
  display: flex;
  border: 2px;
  border-style: solid;
  margin: 5px;
  padding: 10px;
  align-items: center;
}
.cardOffer > * {
  flex:1;
}
.cardOffer > .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.cardOffer > .buttons > h4 {
  margin-bottom: 0;
}
.cardTitle {
  text-decoration: none;
}
.header {
  border: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: sticky;
  top: 0px;
  background-color: $secondary_color;
  font-weight:500 ;
}
.one {
  border-bottom: 2px;
  border-color: aliceblue;
  border-style: solid;
  margin: 0px;
  padding: 10px;
}
.admin{
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {

  .one {
    display:none;
  }
  .buttons .chil_nav .cardOffer {
    flex-direction: row;
  }
  .chil_nav {
    justify-content: space-around;
    gap: 0;
  }



  .admin-search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: static;
  margin-bottom: 10px;
  form {
    position: static;

  }
}
}
