@import "colors";

.adminOffer {
  margin: 20px;
  h1 {
    color: $headings_color;
    text-shadow: 2px 2px 3px black;
  }
}

.admin-search-bar {
  display: flex;
  position: relative;
  form {
    position: absolute;
    right: 20px;
    top: 0px;
  }
}

.cardList {
  border: 2px;
  border-color: aliceblue;
  border-style: solid;
  border-radius: 5px;
  overflow: scroll;
  max-height: 250px;
  height:100% ;
  h4 {
    color: $text_color;
    text-shadow: 1px 1px 2px $headings_color;
    padding: 10px;
  }
}
.cardOffer {
  display: flex;
  border: 2px;
  border-style: solid;
  margin: 5px;
  padding: 3px;
  align-items: center;
}
.cardOffer > * {
  flex:1;
}
.cardOffer > .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.cardTitle {
  text-decoration: none;
}
.header {
  border: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: sticky;
  top: 0px;
  background-color: $secondary_color;
  font-weight:500 ;
}
.one {
  border-bottom: 2px;
  border-color: aliceblue;
  border-style: solid;
  margin: 0px;
  padding: 5px;
}
.admin{
  margin-bottom: 100px;
}
@media only screen and (max-width: 600px) {
  .cardOffer {
    flex-direction: column;
  }
  .one {
    display:none;
  }
  .buttons {
    flex-direction: column;
  }

  .admin-search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: static;
  form {
    position: static;

  }
}
}
