// CSS concerning articles#new
.article_title {
  margin-top: 20px;
}

.article_content {
  margin-bottom: 20px;
}

#article_content {
  height: 20vh;
}


// CSS concerning articles#index
.articles-table {
  border: 3px solid #333;
}

.articles-table-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: raleway;
  padding: 10px;
  a {
    color: white;
  }

  td {
    color: white;
  }
}

.articles-table-data {
  padding: 10px;
}

.articles-table-heading {
  padding: 10px;
}

.delete-article-btn {
  all: unset;
  text-align: center;
  width: 50px;
  background-color: aqua;
}

@media screen and (min-width: 800px) {
  .articles-table-container {
    table {
      width: 800px;
    }
  }
}


// CSS concerning articles#show

.articles-show-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #93cece;
  min-height: 100vh;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.articles-show-content {
  width: 50%;
  font-size: larger;
}

.articles-show-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
    h1 {
    margin-top: 50px;
    width: 80%;
  }

  p {
    margin-bottom: 50px;
    color: white;
  }
}
.liste {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  flex-basis: 1;
  gap: 2rem;
  justify-content: space-between;
  border: 2px;
  border-style:solid ;
  border-radius: 10px;

}
.liste > h2 {
  font-size: medium;
}
.angebote {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-around;
}
.liste > img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  justify-self: center;
  border-radius: 10px;
  border-top: 2px;

}
@media screen and (min-width: 800px) {
  .articles-show-container {
  width: 80%;

  .angebote {
    flex-direction: column;
  }
}
}
