@import "colors";

.btn-info {
  background-color: $headings_color !important;
  border: $headings_color !important;
  // margin: 10px !important;
}

.btn_form {
  margin-top: 1rem !important ;
  border-radius: 5px;
  padding: 5px;
}
