// Navbar Buttons colors
$color_blue: #0aaab3;
$color_red: #FF6377;
$color_green: #5EA10A;
$color_yellow: #b7bf22;
$color_orangy: #E1AA7D;
$color_orangy_dark: #e1aa7d60;
$color_pinky:#B744B8;
$color_pinky_dark:#b644b83a;
$color_turquoisy:#00C2D1;
$color_turquoisy_dark:#00c3d15e;
// Client colors
$turquoise: #1a4b66;
$dark_orange: #FF8C00;
$ghost_white: #F8F8FF;


// Font colors
$headings_color: #e1eb28;
$text_color: #F8F8FF;

// Page body colors
$primary_color: #F8F8FF;
$secondary_color: #1a4b66;
$secondary_color_light: hsl(201, 20%, 50%);
$highlight_color: #0aaab3;
