@import "colors";

*, *::before, *::after {
  box-sizing: border-box;
}

.navbar {
  display: none;
  box-shadow: 3px 3px 5px black;
  position: sticky;
}

header {
  position: sticky;
  top: 0px;
  width: 100vw;
  height: 50px;
  min-height: 100px;
  background-color: $secondary_color;
  z-index: 999;
  // box-shadow: 3px 3px 5px black;
  border-bottom: 2px solid black;
}

.nav-puffer {
  height: 10vh;
  width: 100vw;
  background-color: $secondary_color;
}

.nav-logo {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1.2em;
  margin-top: 1em;
}

.nav-toggle {
  margin-left: 10px;
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 30%;
  left: 20px;
}

.nav-toggle-label .nav-bars-image {
  background-image: url(https://cdn.iconscout.com/icon/free/png-256/bars-1440391-1216351.png);
  height: 50px;
  width: 50px;
  background-size: cover;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

nav {
  position: absolute;
  width: 100vw;
  top: 100%;
  padding-bottom: 20px;
  text-align: center;
  background-color: $secondary_color;
  z-index: 999;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  // border-bottom-left-radius: 5px;
  // border-top-right-radius: 5px;
  border-bottom: 2px solid white;
}

nav ul {
  list-style: none;
}

nav li {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}


.nav-toggle:checked ~ nav li {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


// ---> BUTTONS <---

// ORANGE

a.shiny_orange {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 10px 0;
    width: 185px;
    color: $turquoise;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 2px solid $turquoise;
    border-radius: 3px;
}
a.shiny_orange:hover {
    background: $turquoise;
    color: #050801;
    box-shadow: 0 0 5px $turquoise,
                0 0 25px $turquoise,
                0 0 50px $turquoise,
                0 0 200px $turquoise;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

// -----> DARK
a.shiny_red {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 10px 0;
    width: 185px;
    color: $color_red;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 1px solid $color_red;
    border-radius: 3px;
}
a.shiny_red:hover {
    background: $color_red;
    color: #050801;
    box-shadow: 0 0 5px $color_red,
                0 0 25px $color_red,
                0 0 50px $color_red,
                0 0 200px $color_red;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


// -----> BLUE
a.shiny_blue {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 10px 0;
    width: 185px;
    color: $color_blue;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 1px solid $color_blue;
    border-radius: 3px;
}
a.shiny_blue:hover {
    background: $color_blue;
    color: #050801;
    box-shadow: 0 0 5px $color_blue,
                0 0 25px $color_blue,
                0 0 50px $color_blue,
                0 0 200px $color_blue;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

// -----> GREEN
a.shiny_green {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 10px 0;
    width: 185px;
    color: $color_green;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 1px solid $color_green;
    border-radius: 3px;
}
a.shiny_green:hover {
    background: $color_green;
    color: #050801;
    box-shadow: 0 0 5px $color_green,
                0 0 25px $color_green,
                0 0 50px $color_green,
                0 0 200px $color_green;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

// -----> RED
a.shiny_red {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 10px 0;
    width: 185px;
    color: $color_red;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 1px solid $color_red;
    border-radius: 3px;
}
a.shiny_red:hover {
    background: $color_red;
    color: #050801;
    box-shadow: 0 0 5px $color_red,
                0 0 25px $color_red,
                0 0 50px $color_red,
                0 0 200px $color_red;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

// -----> BLACK (BUTTON)
button.shiny_black {
    position: relative;
    display: inline-block;
    background-color: Transparent;
    padding: 25px 30px;
    margin: 40px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 185px;
}
button.shiny_black:hover{
    background: #000000;
    color: #ffffff;
    box-shadow: 0 0 5px #000000,
                0 0 25px #000000,
                0 0 50px #000000,
                0 0 200px #000000;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

// ---> WHITE
a.shiny_white {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 10px 0;
    width: 185px;
    color: $ghost_white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 1px solid $ghost_white;
    border-radius: 3px;
}
a.shiny_white:hover {
    background: $ghost_white;
    color: #050801;
    box-shadow: 0 0 5px $ghost_white,
                0 0 25px $ghost_white,
                0 0 50px $ghost_white,
                0 0 200px $ghost_white;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

a.shiny_yellow {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 10px 0;
    width: 185px;
    color: $color_yellow;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 1px solid $color_yellow;
    border-radius: 3px;
}
a.shiny_yellow:hover {
    background: $color_yellow;
    color: #050801;
    box-shadow: 0 0 5px $color_yellow,
                0 0 25px $color_yellow,
                0 0 50px $color_yellow,
                0 0 200px $color_yellow;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

// -----> orange
a.shiny_orangy {
    position: relative;
    display: inline-block;
    padding: 25px 30px;

    width: 50%;
    color: $color_orangy;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: visible;
    border: 1px solid $color_orangy;
    border-radius: 3px;
}
a.shiny_orangy:hover {
    background: $color_orangy;
    color: #050801;
    box-shadow: 0 0 5px $color_orangy,
                0 0 25px $color_orangy,
                0 0 50px $color_orangy,
                0 0 200px $color_orangy;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

// -----> pinky
a.shiny_pinky {
    position: relative;
    display: inline-block;
    padding: 25px 30px;

    width: 50%;
    color: $color_pinky;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: visible;

    border: 1px solid $color_pinky;
    border-radius: 3px;
}
a.shiny_pinky:hover {
    background: $color_pinky;
    color: #050801;
    box-shadow: 0 0 5px $color_pinky,
                0 0 25px $color_pinky,
                0 0 50px $color_pinky,
                0 0 200px $color_pinky;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

// -----> turqoisy
a.shiny_turquoisy {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    width: 50%;
    color: $color_turquoisy;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: visible;

    border: 1px solid $color_turquoisy;
    border-radius: 3px;
}
a.shiny_turquoisy:hover {
    background: $color_turquoisy;
    color: #050801;
    box-shadow: 0 0 5px $color_turquoisy,
                0 0 25px $color_turquoisy,
                0 0 50px $color_turquoisy,
                0 0 200px $color_turquoisy;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.chosen_o {
  background-color: $color_orangy_dark;
  color: #000000;
}
.chosen_p {
  background-color: $color_pinky_dark;
  color: #000000;
}
.chosen_t {
  background-color: $color_turquoisy_dark;
  color: #000000;
}


@media screen and (min-width: 820px) {
  .nav-toggle-label {
    display: none;
  }

  .nav-logo {
    display: none;
  }

  header {
    display: none;
  }

  .nav-puffer {
    display: none;
  }

  nav {
    display: none;
  }

  .navbar {
  height: 10rem;
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 5px black;
  // top: 0px;
  // position: sticky;
  width: 100vw;
  z-index: 9999;
  background: $secondary_color;

  }

  .shiny {
    width: auto !important;
    // display: flex !important;
    // justify-content: center !important;
    // align-items: center !important;
  }

}
