// PREVENT SCROLL BAR FROM MOVING PAGE

html {
  overflow-y: scroll;
}

.container-about {
  margin-top: 20vh;

}

.banner {
  margin-top: 150px;
  width: 100vw;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.uakron.edu%2Fsocialwork%2Fmsw%2F&psig=AOvVaw1IdSMMjydt7NAlQau_fcTi&ust=1644573783439000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCICB-Pjw9PUCFQAAAAAdAAAAABAE);
  background-size: cover;
  position: relative;
}

.page-info {
  height: 60vh;
  width: 100vw;
  background-image: url("https://cdn.pixabay.com/photo/2019/05/27/16/41/graffiti-4233073_1280.jpg");
  background-size: cover;
  box-shadow: 3px 3px 5px black;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  z-index: 9999;
  background-color: #222;
}

* {
  font-family: raleway;
}

.puffer {
  margin-top: 20vh;
}

.about-us-link {
  width: 25vh;
  height: 10vh;
  opacity: 0.7;
}
.about-us-link:hover {
    opacity: 1;
  }

.container {
  margin-top: 20vh;
  // margin-bottom: 20vh;
}

.offer-dashboard-box {
  padding: 10px;
  border-radius: 5px;
  // background-color: rgb(224, 221, 221);
}

.home-buttons-container {
  width: 80vw;
}
