// PREVENT SCROLL BAR FROM MOVING PAGE

html {
  overflow-y: scroll;
}

body {
  background: #555;
}

.container-about {
  margin-top: 20vh;

}

.page-info {
  height: 60vh;
  width: 100vw;
  background-image: url("https://cdn.pixabay.com/photo/2019/05/27/16/41/graffiti-4233073_1280.jpg");
  background-size: cover;
  box-shadow: 3px 3px 5px black;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  z-index: 9999;
  background-color: #333;
}

* {
  font-family: raleway;
}

.puffer {
  margin-top: 20vh;
}

.about-us-link {
  width: 25vh;
  height: 10vh;
  opacity: 0.7;
}
.about-us-link:hover {
    opacity: 1;
  }

.container {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.offer-dashboard-box {
  padding: 10px;
  border-radius: 5px;
  // background-color: rgb(224, 221, 221);
}

.home-buttons-container {
  width: 80vw;
}
