//@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
@import "colors";

.topic-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

body .topic-card-container .topic-card {
  position: relative;
  min-width: 375px;
  width: 400px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}



body .topic-card-container .topic-school-card .topic-card-box .topic-card-box-content a {
  background: white;
  color: #050801;
}

body .topic-card-container .topic-freizeit-card .topic-card-box .topic-card-box-content a {
  background: white;
  color: #050801;
}

body .topic-card-container .topic-ausbildung-card .topic-card-box .topic-card-box-content a {
  background: white;
  color: #050801;
}

body .topic-card-container .topic-jugendhilfe-card .topic-card-box .topic-card-box-content a {
  background: white;
  color: #050801;
}

body .topic-card-container .topic-school-card .topic-card-box .topic-card-box-content h3 {
  color: $dark_orange;
  text-shadow: 1px 1px 2px black;
}

body .topic-card-container .topic-freizeit-card .topic-card-box .topic-card-box-content h3 {
  color: $dark_orange;
  text-shadow: 1px 1px 2px black;
}

body .topic-card-container .topic-ausbildung-card .topic-card-box .topic-card-box-content h3 {
  color: $dark_orange;
  text-shadow: 1px 1px 2px black;
}

body .topic-card-container .topic-jugendhilfe-card .topic-card-box .topic-card-box-content h3 {
  color: $dark_orange;
  text-shadow: 1px 1px 2px black;
}

body .topic-card-container .topic-school-card .topic-card-box {
  box-shadow: 0px 0px 6px #40E0D0;
}

body .topic-card-container .topic-freizeit-card .topic-card-box {
  box-shadow: 0px 0px 6px #40E0D0;
}

body .topic-card-container .topic-jugendhilfe-card .topic-card-box {
  box-shadow: 0px 0px 6px #40E0D0;
}

body .topic-card-container .topic-ausbildung-card .topic-card-box {
  box-shadow: 0px 0px 6px #40E0D0;
}

// body .topic-card-container .topic-card:nth-child(2) .topic-card-box .topic-card-box-content a {
//   background: #FF6376;
// }

// body .topic-card-container .topic-card:nth-child(3) .topic-card-box .topic-card-box-content a {
//   background: #5EA10A;
// }

// body .topic-card-container .topic-card:nth-child(1) .topic-card-box .topic-card-box-content h3 {
//   color: #0AAAB3;
// }

// body .topic-card-container .topic-card:nth-child(2) .topic-card-box .topic-card-box-content h3 {
//   color: #FF6376;
// }

// body .topic-card-container .topic-card:nth-child(3) .topic-card-box .topic-card-box-content h3 {
//   color: #5EA10A;
// }

// body .topic-card-container .topic-card:nth-child(1) .topic-card-box {
//   box-shadow: 0px 0px 6px #0AAAB3;
// }

// body .topic-card-container .topic-card:nth-child(2) .topic-card-box {
//   box-shadow: 0px 0px 6px #FF6376;
// }

// body .topic-card-container .topic-card:nth-child(3) .topic-card-box {
//   box-shadow: 0px 0px 6px #5EA10A;
// }

body .topic-card-container .topic-card .topic-card-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  // background-image: url("https://picture.yatego.com/images/5bec4787bb8692.7/big_4e4b288f5ab03f02c1b9945e70cc2362-kqh/landschaft-natur-hgel-weide-poster-p0684.jpg");
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  // box-shadow: 0px 0px 6px black;
    // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
    // inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    // 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

body .topic-card-container .topic-card .topic-card-box:hover {
  transform: translateY(-50px);
}

body .topic-card-container .topic-card .topic-card-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .topic-card-container .topic-card .topic-card-box .topic-card-box-content {
  padding: 20px;
  text-align: center;
}

body .topic-card-container .topic-card .topic-card-box .topic-card-box-content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .topic-card-container .topic-card .topic-card-box .topic-card-box-content h3 {
  font-size: 1.8rem;
  // color: rgb(0, 0, 0);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
  font-family: var(--bs-body-font-family);
}

body .topic-card-container .topic-card .topic-card-box .topic-card-box-content p {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  z-index: 1;
  transition: 0.5s;
  text-shadow: 1px 1px 1px black;
  background-color:rgba(0, 0, 0, 0.35);
  padding: 20px;
  border-radius: 5px;
}

body .topic-card-container .topic-card .topic-card-box .topic-card-box-content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  // background: black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .topic-card-container .topic-card .topic-card-box .topic-card-box-content a:hover {
      background: $dark_orange;
    color: #050801;
    box-shadow: 0 0 5px $dark_orange,
                0 0 25px $dark_orange,
                0 0 50px $dark_orange,
                0 0 200px $dark_orange;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

@media screen and (min-width: 1030px) {
  .topic-card-container {
    all: unset;
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .topic-card {
    flex: 35%;
  }
}
