.login{
  margin: 25px auto;
  max-width: 400px;
}
.login-button {
  border-radius: 5px;
  border: 1px solid black;
  width: 5rem;
  text-align: center;
  background-color: transparent;
}
.login-button:hover{
  background-color: white;
  color: white;
}
