.container-about {
  margin-top: 20vh;
}

.page-info {
  height: 60vh;
  width: 100vw;
  background-image: url("https://static.spektrum.de/fm/912/iStock-468120582_FilippoBacci.jpg?f=2000x857");
  background-size: cover;
  box-shadow: 3px 3px 5px black;
  position: relative;
  overflow: auto;
}

.home-info-text {
  font-size: larger;
  position: absolute;
  top: 140px;
  h1 {
    color: #a7f0f4;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bolder;
  }

  p {
    color: white;
    margin-right: 10px;
    margin-left: 12px;
  }

  .about-link {
  position: absolute;
  top: 110px;
  left: 10px;
  }
}

// Home button (about us)
a.shiny_home{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 3px solid #ffffff;
    border-radius: 3px;
}
a.shiny_home:hover{
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 200px #ffffff;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

@media screen and (min-width: 820px) {

}
