
@import "colors";
.container-about {
  margin-top: 20vh;
}

.page-info {
  height: 60vh;
  width: 100vw;
  background-image: url("https://static.spektrum.de/fm/912/iStock-468120582_FilippoBacci.jpg?f=2000x857");
  background-size: cover;
  box-shadow: 3px 3px 5px black;
  position: relative;
  overflow: auto;
}

.home-info-text {
  font-size: larger;
  position: absolute;
  top: 140px;
  h1 {
    color: $headings_color;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bolder;
    text-shadow: 2px 2px 3px black;
  }

  p {
    color: $text_color;
    margin-right: 10px;
    margin-left: 12px;
    text-shadow: 2px 2px 3px black;

  }

  .about-link {
  position: absolute;
  top: 110px;
  left: 10px;
  }
}

// Home button (about us)
a.shiny_home{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 3px solid #ffffff;
    border-radius: 3px;
}
a.shiny_home:hover{
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 200px #ffffff;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.swiper{
  margin: 20px;
  max-width: 1200px;
  width: 100%;
  max-height: 400px;
}
.swiper-slide{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.home{
  width: 100%;

}
 .last > a > h1{
  background-color: $secondary_color;
  color: #ffffff;
  text-align: center;
  height: 350px;
  padding-top: 25%;
}
.last > a {
  text-decoration: none;
}
.last > a > h1:hover {
  color: $headings_color;
}

.stopper {
  overflow: hidden;
}
#sliders {
  display: flex ;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0;

}
.slide {
  width: 450px;
  max-height: 300px;
  padding: 5px;
  margin: 0;
}
.slide_inside{
  display: flex;
  margin: 0;
}
.swiper{
   h1 {
    color: $headings_color;
    text-shadow: 2px 2px 3px black;
  }
}
h1 {
  color: $headings_color;
  text-shadow: 2px 2px 3px black;
}
.container_slider {
  display: flex;
  align-items: center;
  margin: 10px;
  max-height: 400px;
}


@media screen and (min-width: 820px) {
.slide {

  max-height: 350px;

}

}
