<%# NAVBAR SCREEN %>

<div class="navbar">
  <a class="shiny shiny_red" href="/#">Home</a>
  <% if user_signed_in? %>
    <% if current_user.role == "institution" %>
      <a class="shiny shiny_blue " href="/profil">Verwalten</a>
    <% end %>
    <% if current_user.role == "admin" %>
      <a class="shiny shiny_blue " href="/admin">Verwalten</a>
    <% end %>
  <% end %>
  <a class="shiny shiny_green" href="/topics">Entdecken</a>
  <a class="shiny shiny_yellow " href="/search">Suche</a>
  <a class="shiny shiny_white" href="/articles">Blog</a>
  <!-- LOGIN BUTTON
  <% if user_signed_in? %>
    <%= button_to "bye", destroy_user_session_path, class: "shiny shiny_black", method: :delete %>
  <% else %>
    <%= button_to "Login", new_user_session_path, class: "shiny shiny_black" %>
  <% end %>
  -->
</div>







<%# navbar mobile %>

<header>
  <div class="nav-puffer"></div>
  <h1 class="nav-logo">LOGO</h1>
  <label for="nav-toggle" class="nav-toggle-label">
    <div class="nav-bars-image"></div>
  </label>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul class="nav-ul">
      <li>
        <a class="shiny_red nav-li" href="/#">Home</a>
      </li>
      <% if user_signed_in? %>
        <% if current_user.role == "institution" %>
          <li>
            <a class="shiny_blue nav-li" href="/profil">Verwalten</a>
          </li>
        <% end %>
          <% if current_user.role == "admin" %>
          <li>
            <a class="shiny_blue nav-li" href="/admin">Verwalten</a>
          </li>
        <% end %>
      <% end %>
      <li>
        <a class="shiny_green nav-li" href="/topics">Entdecken</a>
      </li>
      <li>
        <a class="shiny_yellow nav-li" href="/search">Suche</a>
      </li>
      <li>
        <a class="shiny shiny_white" href="/articles">Blog</a>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= button_to "bye", destroy_user_session_path, class: "shiny_black nav-li", method: :delete %>
        </li>
      <% else %>
        <li>
          <a class="shiny_blue nav-li" href="/users/sign_in">Login</a>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
