<%# <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mr-3" href="/#">Wusterhausen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a href="/topics">Topics</a>
        </li>
        <li class="nav-item">
          <a href="/profil">Dashboard</a>
        </li> %>
        <%# if current_user.role == "institution" || current_user.role == "admin" %>
          <%# <li class="nav-item">
            <a href="/offers/new">New Offer</a>
          </li> %>
        <%# end %>
      <%# </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> %>




    <%# <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> %>


<%# custom navbar %>

<header>
  <h1 class="logo">Logo</h1>
  <input type="checkbox" class="nav-toggle" id="nav-toggle">
  <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/topics">Entdecken</a></li>
    <li><a href="/search">Suche</a></li>
    <li><a href="#">Kontakt</a></li>
    <% if user_signed_in? %>
      <% if current_user.role == "admin" || current_user.role == "institution" %>
        <li><a href="/profil" class="institution-content">Verwalten</a></li>
      <% end %>
    <% end %>
    <% if !user_signed_in? %>
      <li><a href="/users/sign_in">Login</a></li>
    <% else %>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% end %>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
