
<%# custom navbar %>

<div class="navbar d-flex justify-content-center">
  <nav>
    <h1>LOGO</h1>
  </nav>
  <ul class="nav-ul">
    <li>
      <a class="shiny nav-li" href="/#">Home</a>
    </li>
    <% if user_signed_in? %>
    <% if current_user.role == "institution" || current_user.role == "admin" %>
        <li>
          <a class="shiny nav-li" href="/choosetopic">ANGEBOT ERSTELLEN</a>
        </li>
        <li>
          <a class="shiny nav-li" href="/profil">Dashboard</a>
        </li>
      <% end %>
    <% end %>
    <li>
      <a class="shiny nav-li" href="/topics">Entdecken</a>
    </li>
    <li>
      <a class="shiny nav-li" href="/search">Suche</a>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= button_to "bye", destroy_user_session_path, class: "shiny_black nav-li", method: :delete %>
      </li>
    <% else %>
      <li>
        <a class="shiny nav-li" href="/users/sign_in">Login</a>
      </li>
    <% end %>
  </ul>
</div>
