<%# <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mr-3" href="/#">Wusterhausen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a href="/topics">Topics</a>
        </li>
        <li class="nav-item">
          <a href="/profil">Dashboard</a>
        </li> %>
        <%# if current_user.role == "institution" || current_user.role == "admin" %>
          <%# <li class="nav-item">
            <a href="/offers/new">New Offer</a>
          </li> %>
        <%# end %>
      <%# </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> %>




    <%# <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> %>


<%# custom navbar %>

<div id="collapseExample" class="navbar d-flex justify-content-center collapse">
  <a class="shiny" href="/#">Home</a>
  <% if user_signed_in? %>
   <% if current_user.role == "institution" || current_user.role == "admin" %>
      <a class="shiny" href="/choosetopic">ANGEBOT ERSTELLEN</a>
      <a class="shiny" href="/profil">Dashboard</a>
    <% end %>
  <% end %>
  <a class="shiny" href="/topics">Entdecken</a>
  <a class="shiny" href="/search">Suche</a>
  <% if user_signed_in? %>
    <%= button_to "bye", destroy_user_session_path, class: "shiny_black", method: :delete %>
  <% else %>
    <a class="shiny" href="/users/sign_in">Login</a>
  <% end %>
</div>
